$bg:#242322;
$paw: #161513;
$orange: #FAA81D;
$blue: #58AEC1;
$pageSize: 102vh;

*{
    font-family: 'Montserrat', sans-serif;
}
html{
	scroll-behavior: smooth;
}

body{
    font-weight: 400;
    min-width: 320px;
}